.container{
  background: lightsalmon;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0.4rem 0.4rem 0 0;
  height: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h4.filter_title {
    font-family: "Expletus Sans";
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    color: darkred;
  }
  
  input{
    height: 3.5rem;
    width: 24rem;
    outline: none;
    border-radius: 0.5rem;
    border: white 2px solid;
    transition: border 0.5s;
    padding: 1rem;
    
    &:focus {
      border: tomato 2px solid;
    }
  }
} 